<html>
<head>
    <title>Result</title>
</head>
<body>
    <h1>Submitted Data</h1>
    <div>
        <% for (const [key, value] of Object.entries(json_data)) { %>
            <div>
                <label><%= key %></label>
                <b>
                    <input type="text" value="<%= value %>" readonly>
                </b>
            </div>
        <% } %>
    </div>
</body>
</html>
